
body {
  background: url(../images/background3.jpg);
  height: auto;
  background-size: cover;
}
h1{
   font-family: 'Viner Hand ITC';
   font-size: 72px
}
.jumbotron{
  padding-top: 30px;
  background-color:#fb8200;
}
#spacer{
  background-color:#fb8200;
}
p{
  font-size: 14px;
  font-weight: bold;
  color: black;
}
#ordered, #guessed, #stats{
  background-color:#fcf199;
}

#randomNumber, #userTotal{
  font-size: 34px;
  font-weight: bold;
  color: black;
}
.dessert{
  width: 200px;
  height: 200px;
}

